html {
	height: 100%;
}
body { 
	font: 13px Helvetica, Arial; 
	height: 100%;
}
#sshclient {
	height: 100%;
}
#messages {
	font-family: consolas;
	height: 100%;
	overflow: auto;
	/*border:1px solid #ccc;*/
	display: block;
}
.code_0 {
	color: #000;
}
.code_1 {
	color: #f00;
}
.code_2 {
	color: #0c0;
}
.code_3 {
	color: #ff0;
}
.code_4 {
	color: #00f;
}
.code_5 {
	color: #f0f;
}
.code_6 {
	color: #0ff;
}
.code_7 {
	color: #fff;
}
.logout {
	top: 10px;
	right: 30px;
	position: absolute;
}
#sshlogin {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	transform-origin: center center;
	width: 320px;
	margin: auto;
	padding-top: 100px;
	display: block;
	opacity: 1;
}